ustawy
*sgjp-20221023.tab

*.ipynb_checkpoints

*.db

lab4/lemmatized_corpus
lab6/dataset
lab6/transformers
lab7/lematized_corpus
lab7/lpmn_corpus
lab8/mlruns
lab8/faiss
lab9/mlruns
lab9/data
lab9/output
lab9/src